.container{
    width: 80%;
    padding: 50px 0px;
}

.newBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterTitle{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.plusIcon{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 5px 5px 5px ;
}

.btn{
    padding: 0px;
    width:135px;
    border-radius: 20px;
}

.form-select {
    padding: 0.375rem 1.5rem 0.375rem 1rem;
    background-position: right 0.25rem center;
    margin: 0px 10px;
}

.desktopText{
    margin-bottom: auto;
    margin-top: auto;
    font-size: 14px;
    margin-right: 10px;

}